[packages]
toml = { version = "*", index = "pypi" }
version-parser = { version = "*", index = "pypi" }

[dev-packages]
build = { version = "*", index = "pypi" }
ptpython = { version = "*", index = "pypi" }
pytest = { version = "*", index = "pypi" }

[requires]
python_version = "3.12"
