[packages]
toml =  "*"

[dev-packages]
build = "*"

ptpython = "*"

pytest = "*"
pytest-ordering = "*"
pytest-dependency = "*"

pipenv = "*"
pip = "*"

version-parser = "*"

[requires]
python_version = "3.12"
